.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #448cf2;
  }
  
  .form {
    width: 25rem;
    height: 25rem;
    padding: 0rem 3rem;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
  }
  
  .header {
    text-align: center;
  }
  
  .form-group {
    display: block;
  }
  
  .form-group label {
    font-weight: 500;
  }
  
  .form-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  }
  
  .form-group input::placeholder {
    color: #aaa;
    letter-spacing: 0.35px;
  }
  
  .form-group input:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
  }
  
  .form-group-check {
    display: flex;
    align-items: center;
    margin-bottom: 0.6rem;
  }
  
  .form-group-check label {
    font-size: 0.8rem;
  }
  
  .submit {
    width: 100%;
    cursor: pointer;
    border-radius: 0.3rem;
    background-color: #007bff;
    border-color: #007bff;
    border: none;
    color: white;
    padding: 0.75rem 0.75rem;
    margin-bottom: 0.7rem;
  }
  
  .submit:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .submit:disabled {
    color: #fff;
    background-color: #60adff;
    border-color: #60adff;
    cursor: default;
  }
  
  .forget {
    text-align: end;
    color: #787d86;
    font-size: 0.7rem;
  }
  
  a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  